
body{
    display: flex;
     justify-self: center;
     background-color: red;
     margin: 0;
     color: white;
}

#game-container{
    width: fit-content;
    height: fit-content;
    position: relative;
}
#bg{
   max-width: 100vw;
   max-height: 100vh;
   width: auto;
   height: auto;

}
.asta{
    position: absolute;
    width: 50px;
    top: 50px;
    left: 50px;
}

.stats{
    position: absolute;
    left:0;
}