@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

@keyframes{
0% {clip-path: circle(0% at 50% 50%); scale: 1;};
50% {clip-path: circle(50% at 50% 50%); scale: 1.1;}
100% {clip-path: circle(100% at 50% 50%); scale: 1;}
}

body,
* {
    font-family: "open sans";
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.card.matched .back{
transform: rotateY(100deg);
opacity: 0.75;
animation: matchAnimation 8s forwards;
}

.page {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* grid layout */
    display: grid;
    place-items: center;
    /* vises først med klasen "show" */
    position: fixed;
    left: -100vw;
    transition: all .6s ease-in-out;
}

.show {
    left: 0;
}


h1 {
    font-weight: 300;
    font-size: 3rem;
}
